body
{
   font-family: 'Special Elite', cursive;
   background: rgb(194, 147, 194);
}

.header_div
{
    background: whitesmoke;
    color: aquamarine;
}

.header_div p
{
    font-family: 'Roboto', sans-serif;
    color: blueviolet;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button
{
    font-family: 'Roboto', sans-serif;
    margin-top: 30; 
    width: 130;
    font-weight: bolder;
    initial-letter: 3px;
}

.copy_right_footer
{
    position: fixed;
    color: rgb(192, 94, 245);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(133, 218, 239);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(194, 147, 194);
    font-family: cursive;
}